@mixin vertical-align {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }
  
  @mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
  }
  
  .devider {
    position: fixed;
    text-align: center;
    @media only screen and (min-width: 960px) {
      top: -5%;
      left: 10%;
      height: 110%;
      @include transform(rotate(5deg) translateX(-50%));
      width: 7vw;
      p {
        font-size: 3.5vh;
      }
    }
  
    @media only screen and (max-width: 960px) {
      left: -5%;
      top: 50%;
      width: 110%;
      @include transform(rotate(-3deg) translateY(-50%));
      height: 10vh;
      p {
        margin: 0;
        letter-spacing: 1vw;
        font-size: 3.5vw;
      }
    }
    p {
      @include vertical-align();
      color: white;
      font-weight: bold;
    }
    background-color: rgb(90, 27, 27);
  }
  
  .musician {
    left: 0;
    background-color: rgb(243, 51, 51);
    .icon {
      img {
        width: 30%;
        height: auto;
      }
    }
  }
  