.content {
  padding: 5px;
  margin: 15vh auto;
  text-align: center;
}

h1 {
  margin: 0.67em auto;
  font-family: "Overpass Mono";
  text-transform: uppercase;
  font-size: xx-large;
}

.my-img {
  padding: 1em;
  border-radius: 50%;
  width: calc(100% - 200px);
  max-width: 250px;
}

// @media screen and (min-width: 992px) {
//   .my-img {
//     // position: absolute;
//     max-width: 250px;
//     // left: 10vmax;
//     // top: 5vh;
//   }
// }

// @media screen and (max-width: 992px) {
//   .my-img {
//     max-height: 250px;
//   }
// }

p {
  font-family: "Comfortaa";
  font-size: medium;
}

.social {
  svg {
    width: 45px;
    margin: 3vmax;
  }
  #linkedin {
    background-color: white;
    border-radius: 5px;
  }
}
