@mixin align-center {
  position: relative;
  top: 50%;
  left: 50%;
  @media only screen and (max-width: 960px) {
    @include transform(translate(-50%, 55%));
  }
  @media only screen and (min-width: 960px) {
    @include transform(translate(-50%, -50%));
  }
  img {
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin box_shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

.content {
  display: flex;
  min-height: 100vh;
  p {
    font-size: 4vh;
  }
}

.coder {
  background-color: rgb(243, 51, 51);
  transition-duration: 350ms;

  &:hover {
    background-color: rgb(170, 39, 39);
    .icon {
      background-color: rgb(145, 15, 15);
    }
  }

  .icon {
    background-color: rgb(218, 32, 32);
    img {
      width: 10vh;
      height: auto;
    }
  }
}

.musician {
  background-color: rgb(51, 51, 243);
  transition-duration: 350ms;

  &:hover {
    background-color: rgb(39, 39, 170);
    .icon {
      background-color: rgb(28, 28, 145);
    }
  }

  .icon {
    background-color: rgb(40, 40, 218);
    img {
      width: 8vh;
      height: auto;
    }
  }
}

.icon {
  height: 25vh;
  width: 25vh;
  @include transition(all 250ms);
  @include box_shadow(2);

  &:hover {
    @include box_shadow(4);
    img {
      @include transition(all 250ms);
    }
  }
}

.devider {
  position: fixed;
  text-align: center;
  @media only screen and (min-width: 960px) {
    top: -5%;
    left: 50%;
    height: 110%;
    @include transform(rotate(5deg) translateX(-50%));
    width: 7vw;
    p {
      font-size: 3.5vh;
    }
  }
  @media only screen and (max-width: 960px) {
    left: -5%;
    top: 50%;
    width: 110%;
    @include transform(rotate(-3deg) translateY(-50%));
    height: 10vh;
    p {
      margin: 0;
      letter-spacing: 1vw;
      font-size: 3.5vw;
    }
  }
  p {
    @include vertical-align();
    color: white;
    font-weight: bold;
  }
  background-color: rgb(90, 27, 27);
}
