<div fxLayout.lt-md="column" fxLayout.gt-md="row" class="content">
    <div class="coder" fxLayout="column" fxFlex="50" fxLayoutAlign="center center" routerLink="/coding">
        <div class="icon" fxLayoutAlign="center">
            <img src="./assets/Code.svg" type="img/svg" alt="Code" />
        </div>
        <p>The Coder!</p>
    </div>

    <div class="musician" fxLayout="column" fxFlex="50" fxLayoutAlign="center center" routerLink="/music">
        <div class="icon" fxLayoutAlign="center">
            <img src="./assets/Keyboard.svg" type="img/svg" alt="Keyboard" />
        </div>
        <p>The Musician!</p>
    </div>
</div>
<div class="devider">
    <p fxShow fxHide.lt-md>P<br>H<br>I<br>L<br>I<br>P<br>P<br>
        <br>B<br>R<br>A<br>N<br>D<br>S<br>T<br>E<br>T<br>T<br>E<br>R</p>
    <p fxHide fxShow.lt-md>PHILIPP BRANDSTETTER</p>
</div>